.title {
    font-size: 24px;
    font-weight: 600;
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* For WebKit browsers (Chrome, Safari) */
    -webkit-box-orient: vertical;
    
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: box; /* Fallback for non-webkit browsers */
    line-clamp: 2; /* Standard property (not fully supported in all browsers yet) */
}