.link_root { display: block; }

.link {
    transition: 200ms;
    cursor: pointer;
    color: #765C53;
}

.link_root:hover .link {
    transition: 200ms;
    background-color: #765C53;
    color: #FFF;
}

.active {
    transition: 200ms;
    color: #FFF;
    background-color: #765C53;
}

.title {
    font-size: 24px;
    font-weight: 600;
}